@import "tailwindcss";

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-indigo-500/80 to-purple-800/80 bg-clip-text text-transparent;
  }
  .main-color{
    @apply bg-[#3F51B5];
  }
  .main-color2{
    @apply bg-[#E4A54D];
  }
}

/* hide scrollbar but keep scroll functionality */
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
html, body {
  /* overflow-x: hidden; */
  font-family: 'Noto Sans Khmer', Inter;
}
